body, button{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

button{
    padding: 0;
}

a{
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex__justify-start{
    justify-content: flex-start;
}

.logo__crop{
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.logo__text{
    margin-left: 15px;
}

.logo__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header__list{
    width: 163px;
    margin-right: 77px;
}

.header__link{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header__link:hover{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.header__link:hover::before{
    position: absolute;
    content: '';
    border-bottom: 2px solid #2B292D;
    height: 2px;
    width: 100%;
    top: 18px;
}

.button{
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.button-getStarted{
    background-color: #3040C4;
    color: #fff;
}

.button-getStarted:hover{
    background-color: #fff;
    color: #3040C4;
    transition: 200ms;
}

.button-learnMore{
    background-color: #fff;
    color: #3040C4;
}

.button-learnMore:hover{
    background-color: #3040C4;
    color: #fff;
    transition: 200ms;
}

.intro{
    background-color: #F3C6BD;
    padding-bottom: 126px;
}

.intro__content{
    position: relative;
    z-index: 0;
}

.intro__content::before{
    content: '';
    position: absolute;
    background-image: url("../images/intro_image/reading_person.png");
    width: 796px;
    height: 448px;
    top: 8px;
    left: 449px;
    z-index: -1;
    background-color: #F3C6BD;
}

.intro__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    margin-bottom: 34px;
}

.intro__text{
    margin-bottom: 58px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 456px;
}

.buttons{
    width: 336px;
}

.buttons .button-getStarted{
    margin-right: 4px;
}

.description{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
    margin-bottom: 30px;
}

.description__articles{
    display: flex;
    justify-content: space-between;
}

.description__article{
    max-width: 555px;
}

.description__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.description__text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.clients__content{
    margin-bottom: 106px;
    width: 100%;
}

.clients__content-small{
    display: none;
}

.clients-second{
    margin: 62px auto;
}

.inbox{
    background: rgba(252, 240, 227, 0.4);
    mix-blend-mode: normal;
    padding: 117px 0 116px;
    margin-bottom: 110px;
}

.inbox__image{
    margin-top: 25px;
}

.inbox__feedback{
    max-width: 519px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185D0;
    text-align: left;
}

.inbox__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox__text-bald{
    font-weight: 700;
}

.inbox__user{
    margin-left: 11px;
}

.inbox__username{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.inbox__userTitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.info{
    width: 519px;
}

.info__subtitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}

.info__subtitle-red{
    color: #F1592B;
}

.info__subtitle-blue{
    margin: 13px 0 24px;
    color: #0189D1;
}

.info__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
    max-width: 461px;
}

.info__title-communication{
    margin-bottom: 30px;
}

.info__desc{
    max-width: 461px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;

}

.info__desc-communication{
    margin-bottom: 39px;
}

.communication__image{
    margin-right: 61px;
}

.communication .flex{
    margin-bottom: 105px;
}

.engagement{
    background-color: rgba(0, 161, 198, 0.07);
    mix-blend-mode: normal;    
}

.communication__articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 104px;
}

.communication__article{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
}

.communication__article-title{
    font-weight: 700;
}

.communication__link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}

.engagement__content{
    padding-top: 108px;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
}

.engagement__subtitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 24px;
}

.engagement__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 555px;
    margin-bottom: 30px;
}

.engagement .buttons{
    margin: 0 auto;
}

.engagement__description{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 555px;
    margin-bottom: 34px;
}

.engagement__targets{
    margin-top: 111px;
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.engagement__target{
    width: 262px;
    height: 300px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-top: 22px;
    cursor: pointer;
    text-align: center;
}

.engagement__target:hover{
    width: 262px;
    height: 300px;
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding-top: 22px;
    transition: 200ms;
}

.engagement__target:hover .engagement__targetDesc{
    color: #fff;
}

.engagement__targetDesc{
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
}

.gallery__title{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}

.gallery__subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 554px;
    color: #172342;
    margin: 26px auto 97px;
    text-align: center;
}

.gallery__gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px 42px;
    margin-bottom: 91px;
}

.gallery__gallery-item img{
    width: 100%;
    height: 100%;
}

.gallery__gallery-item:nth-child(3), .gallery__gallery-item:nth-child(4){
    grid-row: span 2;
}

@media screen and (max-width: 1200px){
    .container {
        max-width: 1040px;
    }

    .intro__content::before{
        top: 50px;
        left: 320px;
    }

    .description__article{
        max-width: 500px;
    }

    .engagement__targets{
        gap: 20px;
    }

    .engagement__target{
        max-width: 245px;
    }
}

@media screen and (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .header{
        padding: 31px 0 25px;
    }

    .logo__crop{
        height: 48px;
        width: 48px;
        overflow: hidden;
    }
    
    .logo__crop img{
        height: 100%;
        width: 110%;
    }

    .logo__text{
        margin-left: 17px;
    }    

    .logo__subtitle{
        display: none;
    }

    nav.flex {
        display: none;
    }

    .intro{
        padding-bottom: 349px;
    }

    .intro__title{
        font-size: 60px;
        line-height: 72px;
        max-width: 555px;
        margin-bottom: 15px;
    }

    .intro__text{
        font-size: 20px;
        line-height: 26px;
        max-width: 355px;
        margin-bottom: 24px;
    }

    .intro .button-getStarted{
        width: 125px;
        height: 51px;
        font-size: 16px;
        margin-right: 2px;
    }

    .intro .button-learnMore{
        width: 123px;
        height: 51px;
        font-size: 16px;
    }

    .intro__content::before{
        background-size: 620px 349px;
        height: 349px;
        width: 620px;
        top: 312px;
        left: 87px;
    }

    .description{
        padding: 30px 0 34px;
        margin-bottom: 25px;
    }

    .description__articles{
        display: block;
    }

    .description__article{
        max-width: 432px;
        margin: 0 auto;
    }

    .description__article{
        margin-bottom: 40px;
    }

    .description__article:last-child{
        margin-bottom: 0px;
    }

    .clients__content{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-bottom: 41px;
        row-gap: 4px;
    }

    .inbox{
        padding: 57px 0 69px;
        margin-bottom: 73px;
    }

    .inbox__feedback{
        margin-bottom: 76px;
    }

    .flex__direction-columnReverse{
        flex-direction: column-reverse;
    }

    .info{
        text-align: center;
    }

    .info__subtitle{
        margin-bottom: 28px;
    }

    .info__title{
        font-size: 48px;
        line-height: 52px;
        margin: 0 auto 26px;
    }

    .info__desc{
        font-size: 20px;
        line-height: 26px;
        margin: 0 auto 48px;
        max-width: 418px;
    }

    .flex__direction-column{
        flex-direction: column;
    }

    .info__subtitle-blue{
        margin: 0 0 18px;
    }

    .info__title-communication{
        line-height: 56px;
        max-width: 318px;
        margin-bottom: 19px;
    }

    .info__desc-communication{
        margin-bottom: 41px;
    }

    .info-communication{
        margin-bottom: 37px;
    }

    .communication__articles div:nth-child(2), .communication__articles div:nth-child(3){
        display: none;
    }

    .communication__articles div:nth-child(1){
        grid-column: 2/3;
        width: 322px;
        text-align: center;
    }

    .communication__articles{
        margin-bottom: 39px;
    }

    .engagement__content{
        padding-top: 50px;
        max-width: 470px;
    }

    .engagement__title{
        font-size: 48px;
    }

    .engagement__description{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 27px;
    }

    .engagement .button-learnMore{
        width: 158px;
    }

    .engagement__targets{
        max-width: 588px;
        margin: 52px auto 0;
        padding-bottom: 79px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 38px 57px;
    }

    .clients-second{
        margin: 73px auto 87px;
    }

    .gallery__title{
        font-size: 48px;
    }

    .gallery__subtitle{
        font-size: 20px;
        max-width: 399px;
        margin: 18px auto 114px;
    }

    .gallery__gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px;
        margin-bottom: 124px;
    }

    .gallery__gallery-item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .gallery__gallery-item:nth-child(7){
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container{
        max-width: 500px;
    }

    .intro__content::before {
        background-size: 500px 281px;
        height: 281px;
        width: 500px;
        top: 345px;
        left: 0px;
    }

    .inbox__feedback {
        max-width: 500px;
        margin: 0 auto;
    }

    .communication__image {
        margin: 0 auto;
    }

    .engagement__targets{
        gap: 38px 20px; 
    }

    .engagement__target{
        max-width: 240px;
    }
}

@media screen and (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .intro__content::before{
        background-size: 430px 242px;
        height: 242px;
        width: 430px;
        top: 425px;
    }

    .inbox__feedback {
        max-width: 430px;
        margin: 0 auto;
    }

    .communication__image, .inbox__image{
        margin: 0 auto;
    }

    .engagement__target {
        max-width: 210px;
        height: 280px;
    }

    .gallery__gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 21px;
    }

    .gallery__gallery-item:nth-child(2){
        display: none;
    }

    .gallery__gallery-item:nth-child(4){
        grid-row: 2/4;
    }
    
}

@media screen and (max-width:480px) {
    .container{
        max-width: 310px;
    }

    .header{
        padding: 8px 0;
        background-color: #fff;
    }
    
    .intro{
        padding: 35px 0 249px;
    }

    .intro__title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin-bottom: 24px;
    }

    .intro__text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .intro .button{
        width: 100%;
        height: 48px;
    }

    .buttons{
        max-width: 100%;
    }

    .button{
        width: 100%;
    }

    .intro .button-getStarted{
        margin-bottom: 15px;
    }

    .intro__content::before{
        background-size: 310px 174px;
        height: 174px;
        width: 310px;
        top: 550px;
        left: 0px;
    }

    .description{
        padding: 46px 0;
        margin-bottom: 0;
    }

    .description__article{
        margin-bottom: 20px;
    }

    .description__article:last-child{
        margin-bottom: 0;
    }

    .clients{
        background-color: #e3e3e3;
    }

    .clients__content{
        display: none;
    }

    .clients .container{
        max-width: 100%;
    }

    .clients__content-small{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 94px);
    }

    .clients__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .flex__direction-column{
        flex-direction: column;
    }

    .inbox{
        padding: 50px 0 48px;
        margin-bottom: 53px;
    }

    .inbox__image{
        margin: 0 0 32px;
    }

    .inbox__image img{
        width: 100%;
    }

    .info{
        width: 100%;
        text-align: left;
    }

    .info__subtitle{
        margin-bottom: 17px;
    }

    .info__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 0 18px;
    }

    .info__desc{
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 65px;
    }

    .inbox__feedback{
        padding: 30px 20px 28px;
        margin-bottom: 0;
    }

    .flex__align-start{
        align-items: flex-start;
    }

    .info-communication{
        margin-bottom: 40px;
    }

    .info__subtitle-blue{
        margin: 0 0 17px;
    }

    .info__desc-communication{
        margin: 0 0 30px;
    }

    .communication button{
        width: 160px;
    }

    .communication__image{
        margin-right: 0;
    }

    .communication__image img{
        width: 100%;
    }

    .communication .flex{
        margin-bottom: 113px;
    }

    .communication__articles{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 50px;
        text-align: center;
    }

    .communication__articles div:nth-child(1){
        grid-column: 1/2;
    }

    .communication__articles div:nth-child(2), .communication__articles div:nth-child(3){
        display: block;
    }

    .communication__articles div{
        max-width: 290px;
        margin-bottom: 33px;
    }

    .engagement__subtitle{
        margin-bottom: 17px;
    }

    .engagement__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .engagement__description{
        font-size: 24px;
        line-height: 34px;
    }

    .engagement .button-getStarted{
        margin-bottom:  12px;
    }

    .engagement .button-learnMore{
        width: 100%;
    }

    .engagement__targets{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 40px 0 0;
        gap: 15px 0;
    }

    .engagement__target{
        width: 100%;
        max-width: 310px;
        height: 280px;
    }

    .engagement__target:hover{
        width: 100%;
        max-width: 310px;
        height: 280px;
    }

    .clients-second{
        margin: 0 0 53px;
    }

    .gallery__title{
        font-size: 40px;
        line-height: 47px;
    }

    .gallery__subtitle{
        font-size: 24px;
        margin: 29px 0 25px;
    }

    .gallery__gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 21px;
    }

    .gallery__gallery-item:nth-child(2){
        display: none;
    }

    .gallery__gallery-item:nth-child(4){
        grid-row: 2/4;
    }

}

@media screen and (max-width:360px) {
    .container{
        max-width: 290px;
    }

    .header{
        padding: 8px 0;
        background-color: #fff;
    }
    
    .intro{
        padding: 35px 0 249px;
    }

    .intro__title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin-bottom: 24px;
    }

    .intro__text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .intro .button{
        width: 290px;
        height: 48px;
    }

    .buttons{
        max-width: 100%;
    }

    .button{
        width: 290px;
    }

    .intro .button-getStarted{
        margin-bottom: 15px;
    }

    .intro__content::before{
        background-size: 290px 180px;
        height: 180px;
        width: 290px;
        top: 575px;
        left: 0px;
    }

    .description{
        padding: 46px 0;
        margin-bottom: 0;
    }

    .description__article{
        margin-bottom: 20px;
    }

    .description__article:last-child{
        margin-bottom: 0;
    }

    .clients{
        background-color: #e3e3e3;
    }

    .clients__content{
        display: none;
    }

    .clients .container{
        max-width: 100%;
    }

    .clients__content-small{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 94px);
    }

    .clients__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .flex__direction-column{
        flex-direction: column;
    }

    .inbox{
        padding: 50px 0 48px;
        margin-bottom: 53px;
    }

    .inbox__image{
        margin: 0 0 32px;
    }

    .inbox__image img{
        width: 100%;
    }

    .info{
        width: 100%;
        text-align: left;
    }

    .info__subtitle{
        margin-bottom: 17px;
    }

    .info__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 0 18px;
    }

    .info__desc{
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 65px;
    }

    .inbox__feedback{
        padding: 30px 20px 28px;
        margin-bottom: 0;
    }

    .flex__align-start{
        align-items: flex-start;
    }

    .info-communication{
        margin-bottom: 40px;
    }

    .info__subtitle-blue{
        margin: 0 0 17px;
    }

    .info__desc-communication{
        margin: 0 0 30px;
    }

    .communication button{
        width: 160px;
    }

    .communication__image{
        margin-right: 0;
    }

    .communication__image img{
        width: 100%;
    }

    .communication .flex{
        margin-bottom: 113px;
    }

    .communication__articles{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 50px;
    }

    .communication__articles div:nth-child(1){
        grid-column: 1/2;
        text-align: left;
    }

    .communication__articles div:nth-child(2), .communication__articles div:nth-child(3){
        display: block;
    }

    .communication__articles div{
        max-width: 290px;
        margin-bottom: 33px;
        text-align: left;
    }

    .engagement__subtitle{
        margin-bottom: 17px;
    }

    .engagement__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .engagement__description{
        font-size: 24px;
        line-height: 34px;
    }

    .engagement .button-getStarted{
        margin-bottom:  12px;
    }

    .engagement .button-learnMore{
        width: 100%;
    }

    .engagement__targets{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 40px 0 0;
        gap: 15px 0;
    }

    .engagement__target{
        width: 100%;
    }

    .engagement__target:hover{
        width: 100%;
    }

    .clients-second{
        margin: 0 0 53px;
    }

    .gallery__title{
        font-size: 40px;
        line-height: 47px;
    }

    .gallery__subtitle{
        font-size: 24px;
        margin: 29px 0 25px;
    }

    .gallery__gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 21px;
    }

    .gallery__gallery-item:nth-child(2){
        display: none;
    }

    .gallery__gallery-item:nth-child(4){
        grid-row: 2/4;
    }

}

@media screen and (max-width: 320px) {
    .container{
        max-width: 290px;
    }

    .header{
        padding: 8px 0;
        background-color: #fff;
    }
    
    .intro{
        padding: 35px 0 249px;
    }

    .intro__title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin-bottom: 24px;
    }

    .intro__text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .intro .button{
        width: 290px;
        height: 48px;
    }

    .buttons{
        max-width: 100%;
    }

    .button{
        width: 290px;
    }

    .intro .button-getStarted{
        margin-bottom: 15px;
    }

    .intro__content::before{
        background-size: 290px 180px;
        height: 180px;
        width: 290px;
        top: 575px;
        left: 0px;
    }

    .description{
        padding: 46px 0;
        margin-bottom: 0;
    }

    .description__article{
        margin-bottom: 20px;
    }

    .description__article:last-child{
        margin-bottom: 0;
    }

    .clients{
        background-color: #e3e3e3;
    }

    .clients__content{
        display: none;
    }

    .clients .container{
        max-width: 100%;
    }

    .clients__content-small{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 94px);
    }

    .clients__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .flex__direction-column{
        flex-direction: column;
    }

    .inbox{
        padding: 50px 0 48px;
        margin-bottom: 53px;
    }

    .inbox__image{
        margin: 0 0 32px;
    }

    .inbox__image img{
        width: 100%;
    }

    .info{
        width: 100%;
        text-align: left;
    }

    .info__subtitle{
        margin-bottom: 17px;
    }

    .info__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 0 18px;
    }

    .info__desc{
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 65px;
    }

    .inbox__feedback{
        padding: 30px 20px 28px;
        margin-bottom: 0;
    }

    .flex__align-start{
        align-items: flex-start;
    }

    .info-communication{
        margin-bottom: 40px;
    }

    .info__subtitle-blue{
        margin: 0 0 17px;
    }

    .info__desc-communication{
        margin: 0 0 30px;
    }

    .communication button{
        width: 160px;
    }

    .communication__image{
        margin-right: 0;
    }

    .communication__image img{
        width: 100%;
    }

    .communication .flex{
        margin-bottom: 113px;
    }

    .communication__articles{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 50px;
    }

    .communication__articles div:nth-child(1){
        grid-column: 1/2;
        text-align: left;
    }

    .communication__articles div:nth-child(2), .communication__articles div:nth-child(3){
        display: block;
    }

    .communication__articles div{
        max-width: 290px;
        margin-bottom: 33px;
    }

    .engagement__subtitle{
        margin-bottom: 17px;
    }

    .engagement__title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .engagement__description{
        font-size: 24px;
        line-height: 34px;
    }

    .engagement .button-getStarted{
        margin-bottom:  12px;
    }

    .engagement .button-learnMore{
        width: 100%;
    }

    .engagement__targets{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 40px 0 0;
        gap: 15px 0;
    }

    .engagement__target{
        width: 100%;
    }

    .engagement__target:hover{
        width: 100%;
    }

    .clients-second{
        margin: 0 0 53px;
    }

    .gallery__title{
        font-size: 40px;
        line-height: 47px;
    }

    .gallery__subtitle{
        font-size: 24px;
        margin: 29px 0 25px;
    }

    .gallery__gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 21px;
    }

    .gallery__gallery-item:nth-child(2){
        display: none;
    }

    .gallery__gallery-item:nth-child(4){
        grid-row: 2/4;
    }
}