body{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__text{
    margin-left: 9px;
}

.logo__text-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo__text-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation__menu{
    display: flex;
    align-items: center;
    width: 163px;
    justify-content: space-between;
    margin-right: 77px;
}

.navigation__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.navigation__link:hover{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.button{
    width: 160px;
    height: 48px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.button-get-started{
    background-color: #3040C4;
    color: #fff;
}

.button-get-started:hover{
    background-color: #fff;
    color: #3040C4;
    transition: 200ms;
}

.button-learn-more{
    background-color: #fff;
    color: #3040C4;
}

.button-learn-more:hover{
    background-color: #3040C4;
    color: #fff;
    transition: 200ms;
}

.intro{
    background-color: #F3C6BD;
    padding-bottom: 126px;
}

.intro__content{
    position: relative;
    z-index: 0;
}

.intro__content::before{
    content: '';
    position: absolute;
    background-image: url("../images/intro_image/reading_person.png");
    width: 796px;
    height: 448px;
    top: 8px;
    left: 449px;
    z-index: -1;
    background-color: #F3C6BD;
}


.intro__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    margin-bottom: 34px;
}

.intro__text{
    margin-bottom: 58px;
}

.intro__text-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 456px;
}

.intro__buttons{
    max-width: 328px;
    display: flex;
    justify-content: space-between;
}

.description{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
    margin-bottom: 30px;
}

.description__articles{
    display: flex;
}

.description__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.description__text-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.clients__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}